{% extends '::word.html.twig' %}
{% block body -%}
<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h1 class="ico-file-3">Report {{ pratica }}</h1>
        </div>
    </div>
</div>
{% include "ClaimsHAuditBundle:Word:wordReport/riepilogo.html.twig" %}

<div style="clear: both; page-break-after: always;"></div>
<h2>1. Fact of Case:</h2>
<p>{{ pratica.fact|nl2br }}</p>

<div style="clear: both; page-break-after: always;"></div>
<h2>2. Chronology:</h2>
<p>{{ pratica.cronology|nl2br }}</p>

<div style="clear: both; page-break-after: always;"></div>
<h2>3. Liability:</h2>
<p>{{ pratica.liability|nl2br }}</p>

<div style="clear: both; page-break-after: always;"></div>
<h2>4. Quantum:</h2>
<p>{{ pratica.quantum|nl2br }}</p>

<div style="clear: both; page-break-after: always;"></div>
<h2>5. Claims Handling Failings:</h2>
<p>{{ pratica.claimsHandling|nl2br }}</p>

<div style="clear: both; page-break-after: always;"></div>
<h2>6. Any comments from Large Loss Reports:</h2>
<p>{{ pratica.commentsLLR|nl2br }}</p>

<div style="clear: both; page-break-after: always;"></div>
<h2>7. Newline comments:</h2>
<p>{{ pratica.nlComments|nl2br }}</p>

<h2>Questionnaire:</h2>
{% for n in range(1, 10, 1) %}
<div style="clear: both; page-break-after: always;"></div>
    {% include "ClaimsHAuditBundle:Word:wordReport/groups.html.twig" with {'group': audit.group(n)} %}
{% endfor %}
{% endblock %}
