<tr id="{{ entity.slug }}" titolo="{{ entity }}" priorita="{% if entity.priorita %}{{ entity.priorita.id }}{% endif %}" stato="{% if entity.statoPratica %}{{ entity.statoPratica.id }}{% endif %}" gestore="{% if entity.gestore %}{{ entity.gestore.slug }}{% endif %}">
    {% if mode is not defined or mode in ['personale', 'chiuso', 'tutti', 'senza_dasc', 'senza_gestore'] %}
        <th class="right">{{ i }}</th>
    {% endif %}
    <td class="center" nowrap>
        <a href="#fb_cambia_priorita" class="fancybox">
            {% if entity.priorita %}
                <span class="label {{ entity.priorita.css }}">
                    <abbr title="{{ entity.priorita.priorita }}">{{ entity.codice }}</abbr>
                </span>
            {% else %}
                <span class="label">
                    <abbr title="Non definita">{{ entity.codice }}</abbr>
                </span>
            {% endif %}
        </a>
    </td>
    <td class="center" class="dasc" nowrap>
        {% if app.user.hasRole('C_ADMIN') %}
            <a href="#fb_cambia_dasc" class="fancybox">
        {% endif %}
        {% if entity.dasc %}
            {{ entity.dasc|date('d-m-Y') }}
        {% else %}
            n.d.
        {% endif %}
        {% if app.user.hasRole('C_ADMIN') %}
            </a>
        {% endif %}
    </td>
    <td class="center">{% if entity.giudiziale %}<abbr title="{{ entity.court|trim }}">SI</abbr>{% endif %}</td>
    <td>{{ entity.claimant }}</td>
    {% if mode is not defined or mode in ['aperti', 'completo', 'chiusi', 'senza_dasc', 'senza_gestore'] or app.user.hasRole('C_RECUPERI_H') %}
        <td>
            {% if app.user.hasRole('C_ADMIN') %}
                <a href="#fb_cambia_gestore" class="fancybox button {% if entity.gestore %}gray{% else %}lgray{% endif %} gestore">
            {% else %}
                <a href="javascript:void(0)" class="button {% if entity.gestore %}gray{% else %}lgray{% endif %}">
            {% endif %}
            {% if entity.gestore %}
                <div class="user">
                    {{ entity.gestore.sigla }}
                </div>
            {% else %}
                <div class="icon"><span class="ico-user"></span></div>
            {% endif %}
            </a>
        </td>
    {% endif %}
    <td class="center"><abbr title="{{ entity.soi(true) }}">{{ entity.soi }}</abbr></td>
    {% if mode is defined and mode in ['recupero', 'recuperati'] %}
        <td class="right">{{ entity.offertaNostra }} €{% if entity.recuperoOffertaNostra %}<br/><small>{{ entity.recuperoOffertaNostra }} {% if entity.recuperoOffertaNostra <= 100 %}%{% else %}€{% endif %}</small>{% endif %}</td>
        <td class="right">{{ entity.offertaLoro }} €{% if entity.recuperoOffertaLoro %}<br><small>{{ entity.recuperoOffertaLoro }} {% if entity.recuperoOffertaLoro <= 100 %}%{% else %}€{% endif %}</small>{% endif %}</td>
    {% else %}
        <td class="right">{% if entity.amountReserved >= 0 %}{{ entity.amountReserved }} €{% else %}N.P.{% endif %}</td>
        {% if mode is not defined %}
            <td class="right">{{ entity.firstReserveIndication }} €</td>
        {% endif %}
    {% endif %}
    {% if app.user.hasRole(['C_RECUPERI_H']) %}
        <td class="dati_recupero">
            <div class="typography" contenteditable="true">
                {{ entity.datiRecupero|raw|nl2br }}
            </div>
        </td>
    {% else %}
        <td class="note">
            {% if app.user.hasRole(['C_GESTORE_H']) %}
                <div class="typography" contenteditable="true">
            {% endif %}
            {{ entity.note|raw|nl2br }}
            {% if app.user.hasRole(['C_GESTORE_H']) %}
                </div>
            {% endif %}
        </td>
    {% endif %}
    <td class="center stato_pratica">
        {% if app.user.hasRole(['C_GESTORE_H', 'C_RECUPERI_H']) %}
            <a href="#fb_cambia_stato" class="fancybox">
        {% endif %}
        {% if entity.statoPratica %}
            {{ entity.statoPratica.stato }}
        {% else %}
            <attr title="Non Disponibilie">N.D.</attr>
        {% endif %}
        {% if app.user.hasRole(['C_GESTORE_H', 'C_RECUPERI_H']) %}
            </a>
        {% endif %}
    </td>
    <td class="TAC">
        {% if app.user.hasRole(['C_GESTORE_H', 'C_RECUPERI_H']) %}
            {% include ":commons:edit.html.twig" with {'route': path('claims_hospital_pratica', { 'slug': entity.slug })} %}
        {% endif %}
        {% include ":commons:show.html.twig" with {'class': 'fancybox', 'route': path('claims_hospital_dettagli', { 'slug': entity.slug })} %}
        {% if not entity.gestore and app.user.cliente.get('slc.h.import-import.on', false) %}
            <a href="{{ path('slc_import_claim', {'slug': entity.slug}) }}" class="button blue">
                <div class="icon"><span class="ico-shuffle" title="Sincronizza con JF-Claims"></span></div>
            </a>
        {% endif %}
    </td>
</tr>
