<tr id="{{ entity.slug }}" titolo="{{ entity }}" priorita="{{ entity.priorita.id }}" stato="{{ entity.statoPratica.id }}" gestore="{% if entity.gestore %}{{ entity.gestore.slug }}{% endif %}">
    {% if mode in ['personale', 'chiuso'] %}
        <th class="right">{{ i }}</th>
    {% endif %}
        <td class="center" nowrap>
            <a href="#fb_cambia_priorita" class="fancybox">
                <span class="label {{ entity.priorita.css }}">
                    <abbr title="{{ entity.priorita.priorita }}">{{ entity.codice }}</abbr>
                </span>
            </a>
            </td>
    <td class="center" class="dasc" nowrap>
        {% if app.user.hasRole('C_ADMIN') %}
            <a href="#fb_cambia_dasc" class="fancybox">
        {% endif %}
        {% if entity.dasc %}
            {{ entity.dasc|date('d-m-Y') }}
        {% else %}
            n.d.
        {% endif %}
        {% if app.user.hasRole('C_ADMIN') %}
            </a>
        {% endif %}
    </td>
    <td class="center">{% if entity.giudiziale %}<abbr title="{{ entity.court|trim }}">SI</abbr>{% endif %}</td>
    <td>{{ entity.claimant }}</td>
    {% if mode in ['completo', 'no-dasc', 'no-gest', 'chiusi'] %}
        <td>
        {% if app.user.hasRole('C_ADMIN') %}
            <a href="#fb_cambia_gestore" class="fancybox button {% if entity.gestore %}gray{% else %}lgray{% endif %} gestore">
        {% else %}
            <a href="javascript:void(0)" class="button {% if entity.gestore %}gray{% else %}lgray{% endif %}">
        {% endif %}
        {% if entity.gestore %}
            <div class="user">
                {{ entity.gestore.sigla }}
            </div>
        {% else %}
                <div class="icon"><span class="ico-user"></span></div>
        {% endif %}
    </td>
    {% endif %}
    <td class="center">{{ entity.soi }}</td>
    <td class="right">{% if entity.amountReserved >= 0 %}{{ entity.amountReserved }} €{% else %}N.P.{% endif %}</td>
    <td class="note">
        {% if app.user.hasRole(['C_GESTORE', 'C_GESTORE_H']) %}
            <a href="#fb_cambia_note" class="fancybox">
        {% endif %}
        {% if entity.note %}
            {{ entity.note|truncate(100) }}
        {% else %}
            <i>Nessuna nota inserita</i><br/>
            {% if app.user.hasRole(['C_GESTORE', 'C_GESTORE_H']) %}
            <b><i>{{'Clicca qui per scrivere'}}</i></b>    
            {% endif %}
        {% endif %}
        {% if app.user.hasRole(['C_GESTORE', 'C_GESTORE_H']) %}
            </a>
        {% endif %}
    </td>
    <td class="center" class="stato">
        {% if app.user.hasRole(['C_GESTORE', 'C_GESTORE_H']) %}
            <a href="#fb_cambia_stato" class="fancybox">
        {% endif %}
        {{ entity.statoPratica.stato }}
        {% if app.user.hasRole(['C_GESTORE', 'C_GESTORE_H']) %}
            </a>
        {% endif %}
    </td>
    <td class="TAC">
        {% if app.user.hasRole(['C_GESTORE', 'C_GESTORE_H']) %}
            {% include ":commons:edit.html.twig" with {'route': path('claims_hospital_pratica', { 'slug': entity.slug })} %}
        {% endif %}
        {% include ":commons:show.html.twig" with {'class' : 'fancybox', 'route': path('claims_hospital_dettagli', { 'slug': entity.slug })} %}
    </td>
</tr>
