<tr id="{{ entity.slug }}" titolo="{{ entity }}" priorita="{% if entity.priorita %}{{ entity.priorita.id }}{% endif %}" stato="{% if entity.statoPratica %}{{ entity.statoPratica.id }}{% endif %}" gestore="{% if entity.gestore %}{{ entity.gestore.slug }}{% endif %}">
    <th class="right">{{ i }}</th>
    <td class="center" nowrap>
        <a href="#fb_cambia_priorita" class="fancybox">
            {% if entity.priorita %}
                <span class="label {{ entity.priorita.css }}">
                    <abbr title="{{ entity.priorita.priorita }}">{{ entity.codice }}</abbr>
                </span>
            {% else %}
                <span class="label">
                    <abbr title="Non definita">{{ entity.codice }}</abbr>
                </span>
            {% endif %}
        </a>
    </td>
    <td class="center" class="dasc" nowrap>
        {% if app.user.hasRole('C_ADMIN') %}
            <a href="#fb_cambia_dasc" class="fancybox">
        {% endif %}
        {% if entity.dasc %}
            {{ entity.dasc|date('d-m-Y') }}
        {% else %}
            n.d.
        {% endif %}
        {% if app.user.hasRole('C_ADMIN') %}
            </a>
        {% endif %}
    </td>
    <td class="center">{% if entity.giudiziale %}<abbr title="{{ entity.court|trim }}">SI</abbr>{% endif %}</td>
    <td>{{ entity.claimant }}</td>
    {% if mode is not defined or mode in ['completo', 'senza_gestore'] or app.user.hasRole('C_RECUPERI_H') %}
        <td>
            {% if app.user.hasRole('C_ADMIN') %}
                <a href="#fb_cambia_gestore" class="fancybox button {% if entity.gestore %}gray{% else %}lgray{% endif %} gestore">
            {% else %}
                <a href="javascript:void(0)" class="button {% if entity.gestore %}gray{% else %}lgray{% endif %}">
            {% endif %}
            {% if entity.gestore %}
                <div class="user">
                    {{ entity.gestore.sigla }}
                </div>
            {% else %}
                <div class="icon"><span class="ico-user"></span></div>
            {% endif %}
            </a>
        </td>
    {% endif %}
    <td class="center"><abbr title="{{ entity.soi(true) }}">{{ entity.soi }}</abbr></td>
    <td class="right" nowrap>{% if entity.amountReserved >= 0 %}{{ entity.amountReserved|number_format(2, '.', ' ') }} €{% else %}N.P.{% endif %}</td>
    {% if app.user.hasRole(['C_RECUPERI_H']) %}
        <td class="dati_recupero">
            <div class="typography" contenteditable="true">
                {{ entity.datiRecuperoPuliti|nl2br }}
            </div>
        </td>
    {% else %}
        <td class="note">
            {% if app.user.hasRole(['C_GESTORE_H']) %}
                <div class="typography" contenteditable="true">
            {% endif %}
            {{ entity.notePulite|nl2br }}
            {% if app.user.hasRole(['C_GESTORE_H']) %}
                </div>
            {% endif %}
        </td>
    {% endif %}
    <td class="note">
        {{ entity.textMonthlyReport|raw|nl2br }}
    </td>
    <td class="TAC">
        {% if app.user.hasRole(['C_GESTORE_H', 'C_RECUPERI_H']) %}
            {% include ":commons:edit.html.twig" with {'route': path('claims_hospital_pratica', { 'slug': entity.slug })} %}
        {% endif %}
        {% include ":commons:show.html.twig" with {'class': 'fancybox', 'route': path('claims_hospital_dettagli', { 'slug': entity.slug })} %}
    </td>
</tr>
