<!-- RIGA ATTIVA -->
<tr id="{{ prefisso }}_riga_{{ entity.id }}" {% if entity.gestore %}gestore="{{ entity.gestore.sigla }}"{% endif %} cd="{{ entity.id }}" titolo="{{ entity.email.subject }}">
    <th style="text-align: right;">{{ index }}</th>
    <td style="text-align: center;">{{ entity.giorniRimanenti }}</td>
    <td>{{ entity.email.subject }}</td>
    <td>{{ entity.email.fromName }}</td>
    {% if entity.pratica %}
        {% include "ClaimsHBundle:Tabellone:index/td/claimant.html.twig" with {'entity': entity.pratica, 'tds': ['cc']} %}
    {% else %}
        <td class="center">
            -
        </td>
    {% endif %}
    {% if gest is defined %}
        {% include "ClaimsHBundle:Tabellone:index/td/gestore.html.twig" with {'entity': entity, 'tds': ['cc']} %}
    {% endif %}
    <td>
        <a href="javascript:leggi('#{{ prefisso }}_riga_{{ entity.id }}_leggi');" class="button green">
            <div class="icon"><span class="ico-eye-open"></span></div>
        </a>
        {% if entity.pratica %}
            <a href="{{ path('claims_hospital_pratica', {'slug': entity.pratica.slug}) }}" target="_blank" class="button yellow">
                <div class="icon"><span class="ico-pencil"></span></div>
            </a>
        {% endif %}
        {% if app.user.hasRole('C_ADMIN') and not entity.gestore and not entity.responsedAt %}
            <a href="javascript:if(confirm('Vuoi cancellare il countdown {{ entity.email.subject|upper }}')) { window.location='{{ path('claims_h_countdown_delete', {'id': entity.id}) }}'; }:" class="button red">
                <div class="icon"><span class="ico-remove-sign"></span></div>
            </a>
        {% endif %}
    </td>
</tr>
<tr id="{{ prefisso }}_riga_{{ entity.id }}_leggi" class="rh rh-{{ entity.id }}" style="display: none">
    <th>&nbsp;</th>
    <td colspan="{% if gest is defined %}5{% else %}4{% endif %}">
        <div style="background-color: #ffffff; border: 1px solid #888888; height: 300px; padding: 10px; overflow-y: scroll">
            {{ entity.email.body.html|raw }}
        </div>
        {% if entity.email.body.attach|length > 0 %}
            <dl>
                <dt>Allegati</dt>
                {% for allegato in entity.email.body.attach %}
                    <dd><a target="_blank" href="{{ path('download_attach', {'email': allegato.body.id, 'id': allegato.id, 'name': allegato.filename}) }}">{{ allegato.filename }}</a></dd>
                {% endfor %}
            </dl>
        {% endif %}
    </td>
    <td style="vertical-align: middle">
        <a href="javascript:rispondi('#{{ prefisso }}_riga_{{ entity.id }}_rispondi');" class="button blue">
            <div class="icon"><span class="ico-reply"></span></div>
        </a>
        <a href="javascript:$('.rh').hide();" class="button red">
            <div class="icon"><span class="ico-eye-close"></span></div>
        </a>
    </td>
</tr>
<tr id="{{ prefisso }}_riga_{{ entity.id }}_rispondi" class="rh rh-{{ entity.id }}" style="display: none">
    <th>&nbsp;</th>
    <td colspan="{% if gest is defined %}5{% else %}4{% endif %}">
        {% if entity.risposta or entity.stato == 'C' %}
            {% if entity.risposta %}
                <div style="background-color: #ffffff; border: 1px solid #888888; height: 300px; padding: 10px; overflow-y: scroll">
                    {{ entity.risposta.body.html|raw }}
                </div>
                {% if entity.risposta.body.attach|length > 0 %}
                    <dl>
                        <dt>Allegati</dt>
                        {% for allegato in entity.risposta.body.attach %}
                            <dd><a target="_blank" href="{{ path('download_attach', {'email': allegato.body.id, 'id': allegato.id, 'name': allegato.filename}) }}">{{ allegato.filename }}</a></dd>
                        {% endfor %}
                    </dl>
                {% endif %}
            {% else %}
                <div style="color: #aa0000; background-color: #ffffff; border: 1px solid #888888; height: 300px; padding: 10px; overflow-y: scroll">
                    Risposta da elaborare. Sarà disponibile al massimo entro un'ora.
                </div>
            {% endif %}
        {% else %}
            <form action="{{ path('claims_h_countdown_reply', {'id': entity.id}) }}" method="post" class="p_input" id="fileupload_{{ prefisso }}_{{ entity.id }}">
                <h3>RE: {{ entity.email.subject }} [RECD-{{ entity.id }}]</h3>
                <table style="width: 100%;">
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <textarea name="email[testo]" id="{{ prefisso }}_riga_{{ entity.id }}_rispondi_txt" style="background-color: #ffffff; border: 1px solid #888888; height: 300px; padding: 10px; width: 95%;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <input type="hidden" id="{{ prefisso }}_riga_{{ entity.id }}_rispondi_docs" name="email[docs]" value="[]" />
                            {#% render(controller('EphpDragDropBundle:Render:uploadNf', {
                            })) %#}
                            {% render(controller('SLCHBundle:Countdown:uploadMulti', {
                                        'id': 'fileupload_' ~ prefisso ~ '_' ~ entity.id,
                                        'field': 'documenti_' ~ prefisso ~ '_' ~ entity.id,
                                        'values': '',
                                        'dir': 'attach_countdown/' ~ entity.id
                            })) %}
                        </td>
                        <td style="width: 50%">
                            <ul id="{{ prefisso }}_riga_{{ entity.id }}_rispondi_ul"></ul>
                        </td>
                    </tr>
                </table>
                <button type="submit" id="bt_{{ prefisso }}_{{ entity.id }}" style="display: none;">
                    Invia Risposta
                </button>
            </form> 
        {% endif %}
    </td>
    <td style="vertical-align: bottom">
        {% if entity.stato != 'C' %}
            <button type="button" onclick="$('#fileupload_{{ prefisso }}_{{ entity.id }}').submit();" style="margin-bottom: 50px;">
                Invia Risposta
            </button>
        {% endif %}
    </td>
</tr>