{% if value is not defined %}
    {% set value = pratica.value(question.question, 0) %}
{% endif %}
<td>
    <select id="risposta_{{ question.question.id }}_r{{n}}" class="risposta_{{ question.question.id }} check-save" name="risposta[{{ question.question.id }}][{{n}}]">
        <option value="" ></option>
        {% for risposta in question.question.options %}
            <option value="{{ risposta }}" {% if value and value.response == risposta%}selected="selected"{% endif %}>{{ risposta }}</option>
        {% endfor %}
    </select>
</td>