{% if value is not defined %}
    {% set value = pratica.value(question.question, 0) %}
{% endif %}
<td>
    <textarea class="risposta_{{ question.question.id }}" id="risposta_{{ question.question.id }}_r{{n}}" class="expand autogrow check-save" name="risposta[{{ question.question.id }}][{{n}}]">{% if value %}{{ value.response }}{% endif %}</textarea>
</td>