{% extends '::base.html.twig' %}
{% block js %}
{% javascripts  
    '@ClaimsHAuditBundle/Resources/public/js/domande.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-cog"></span>
    </div>
    <h1>Question</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                <a href="{{ path('eph_domande-audit_new') }}">
                    <span class="label label-important">Nuova question</span>
                </a>
                <table class="table" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Group</th>
                            <th>Order</th>
                            <th>Question<br/>Domanda</th>
                            <th>Example<br/>Esempio</th>
                            <th>Type</th>
                            <th width="80" class="TAC">Op.</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <select class="gruppo" ref="{{ entity.id }}">
                                    <option value=""></option>
                                    {% for gruppo in gruppi %}
                                        <option value="{{ gruppo.id }}" {% if entity.gruppo and entity.gruppo.id == gruppo.id %}selected="selected"{% endif %}>{{ gruppo.titoloLocale(app.request.locale) }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="number" min="-1" value="{{ entity.ordine }}" class="ordine" ref="{{ entity.id }}" style="width: 50px; text-align: right;"></td>
                            <td>
                                {% if entity.prePopulate %}<b title="pre-populate: {{ entity.prePopulate }}">{% endif %}
                                    {% if entity.sottogruppo %}<i>({{ entity.sottogruppo.title }})</i> {% endif %}{{ entity.question }}<br/>
                                    {% if entity.sottogruppo %}<i>({{ entity.sottogruppo.titolo }})</i> {% endif %}{{ entity.domanda }}
                                {% if entity.prePopulate %}</b>{% endif %}
                            </td>
                            <td>{{ entity.example }}<br/>{{ entity.esempio }}</td>
                            <td>{{ entity.type }}{% if entity.options|length > 1 %} ({{ entity.options|length }}){% endif %}</td>
                            <td>
                    {% include ":commons:edit.html.twig" with {'route': path('eph_domande-audit_edit', { 'id': entity.id })} %}
                    {% include ":commons:delete.html.twig" with {'route': path('eph_domande-audit_delete', { 'id': entity.id }), 'question': 'You want to delete the question ' ~ entity.question } %}
                            </td>
                        </tr>
                    {% endfor %}
                
                
        </tbody>
    </table>

{% endblock %}
