{% extends '::base.html.twig' %}
{% block js %}
{% javascripts  
    '@ClaimsHAuditBundle/Resources/public/js/domande.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-cog"></span>
    </div>
    <h1>Question</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                <a href="{{ path('eph_domande-audit_new') }}">
                    <span class="label label-important">Nuova question</span>
                </a>
                <table class="table" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Group<br/>Subgroup</th>
                            <th>Order<br/>Preview</th>
                            <th>Question<br/>Domanda</th>
                            <th>Example<br/>Esempio</th>
                            <th>Type</th>
                            <th width="80" class="TAC">Op.</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <select class="gruppo" ref="{{ entity.id }}">
                                    <option value=""></option>
                                    {% for gruppo in gruppi %}
                                        <option value="{{ gruppo.id }}" {% if entity.gruppo and entity.gruppo.id == gruppo.id %}selected="selected"{% endif %}>{{ gruppo.titoloLocale(app.user.locale) }}</option>
                                    {% endfor %}
                                </select>
                                <br/>
                                <select class="sottogruppo" ref="{{ entity.id }}">
                                    <option value=""></option>
                                    {% for gruppo in sottogruppi %}
                                        <option value="{{ gruppo.id }}" {% if entity.sottogruppo and entity.sottogruppo.id == gruppo.id %}selected="selected"{% endif %}>{{ gruppo.titoloLocale(app.user.locale) }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="number" value="{{ entity.ordine }}" class="ordine" ref="{{ entity.id }}" style="width: 50px; text-align: right; margin:0px;">
                                <br/>
                                <input type="number" value="{{ entity.anteprima }}" class="anteprima" ref="{{ entity.id }}" style="width: 50px; text-align: right; margin:0px;">
                            </td>
                            <td>
                                {% if entity.prePopulate %}<b title="pre-populate: {{ entity.prePopulate }}">{% endif %}
                                    <input type="text" value="{{ entity.question }}" class="question" ref="{{ entity.id }}" style="width: 300px;"> EN
                                    <br/>
                                    <input type="text" value="{{ entity.domanda }}" class="domanda" ref="{{ entity.id }}" style="width: 300px;"> IT
                                {% if entity.prePopulate %}</b>{% endif %}
                            </td>
                            <td>
                                <input type="text" value="{{ entity.example }}" class="example" ref="{{ entity.id }}" style="width: 300px;">
                                <br/>
                                <input type="text" value="{{ entity.esempio }}" class="esempio" ref="{{ entity.id }}" style="width: 300px;">
                            </td>
                            <td>{{ entity.type }}{% if entity.options|length > 1 %} ({{ entity.options|length }}){% endif %}</td>
                            <td>
                                {% include ":commons:edit.html.twig" with {'route': path('eph_domande-audit_edit', { 'id': entity.id })} %}
                                {% include ":commons:delete.html.twig" with {'route': path('eph_domande-audit_delete', { 'id': entity.id }), 'question': 'You want to delete the question ' ~ entity.question } %}
                                <br/>
                                {% if entity.ricerca %}
                                    <a href="javascript:ricerca({{ entity.id }})" id="search_{{ entity.id }}" class="button green role">
                                        <div class="icon"><span class="ico-search"></span></div>
                                    </a>
                                {% else %}
                                    <a href="javascript:ricerca({{ entity.id }})" id="search_{{ entity.id }}" class="button red role">
                                        <div class="icon"><span class="ico-search"></span></div>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
