<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h3 class="ico-file-3">Report {{ entity }}</h3>
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
            Claimant: {{ entity.claimant }}<br/>
            {{ entity.reportClaimantNote }}
        </div>
    </div>
    <div class="span6 no-margin">
        <div class="block bold">
            TPA:
            {{ entity.ospedale.sistema.nome }}
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
            SOI: {{ entity.getReportSoi(true) }}
        </div>
    </div>
    <div class="span6 no-margin">
        <div class="block bold">
            N.Claim: {{ entity.codice }}
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
            Dati polizza:<br/>
            {{ entity.reportVerificaCopertura|raw }} 
        </div>
    </div>
    <div class="span6">
        <div class="block bold">
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
            Data evento (DOL): {% if entity.reportDol %}{{ entity.reportDol|date('d/m/Y') }}{% endif %}
        </div>
    </div>
    <div class="span6 no-margin">
        <div class="block bold">
            Data reclamo (DON): {% if entity.reportDon %}{{ entity.reportDon|date('d/m/Y') }}{% endif %}
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
            Descrizione evento:<br/>
            {{ entity.reportDescrizione|nl2br }} 
        </div>
    </div>
    <div class="span6">
        <div class="block bold">
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
            MPL: {{ entity.getReportMpl(true) }} 
        </div>
    </div>
    <div class="span6">
        <div class="block bold">
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
            Giudiziale: {{ entity.reportGiudiziale }} 
        </div>
    </div>
    <div class="span6">
        <div class="block bold">
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
            Altre polizze: {{ entity.reportOtherPolicies|nl2br }} 
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
            Tipo danno (TPL): {{ entity.getReportTypeOfLoss(true) }} 
        </div>
    </div>
    <div class="span6 no-margin">
        <div class="block bold">
            Dipartimento ospedaliero: {{ entity.getReportServiceProvider(true) }} 
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
            Possibile Recupero: {{ entity.reportPossibleRecovery }} €
        </div>
    </div>
    <div class="span6 no-margin">
        <div class="block bold">
            Riserva: {% if entity.reportAmountReserved < 0 %}N.P.{% else %}{{ entity.reportAmountReserved }} €{% endif %} 
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
        </div>
    </div>
    <div class="span6">
        <div class="block bold">
            Applicable Deductable: {{ entity.reportApplicableDeductable }} € 
        </div>
    </div>
</div>
<div class="row-fluid bordered">
    <div class="span6">
        <div class="block bold">
            Azioni:<br/>
            {{ entity.reportFutureConduct|raw }} 
        </div>
    </div>
    <div class="span6">
        <div class="block bold">
        </div>
    </div>
</div>
<div class="row-fluid bordered bordered-bottom">
    <div class="span6">
        <div class="block bold">
        </div>
    </div>
    <div class="span6">
        <div class="block bold">
            AVV. {{ entity.reportGestore.nome|upper }}
        </div>
    </div>
</div>
