{% extends '::base.html.twig' %}

{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-eye-open"></span>
    </div>
    <h1>Audit Hospital <small>Importa pratiche</small></h1>
</div>
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ entity.luogo }} - {{ entity.giorno|date('d/m/Y') }}</h2>
            {% if entity.note %}
            <p>{{ entity.note|nl2br }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span5">
            <div class="block">
                <div class="data-fluid">
                    <h3>1. General data</h3>
                    <h2>2. Upload Claims</h2>
                    <p>Upload the BDX. The system accept only Office Excel 97/200/XP <b>xls</b> file (<i>xlsx</i>, <i>osd</i> or <i>csv</i> files are not supported).</p>
                    <p><a href="{{ asset('bundles/claumshaudt/file/example.xls') }}">Download a example BDX</a>. Attention! The first column of the BDX must be <b>SRE</b></p>
                </div>
            </div>
            <a href="{{ path('claims-h-audit_edit', {'id': audit}) }}">
                <span class="label label-inverse">Back</span>
            </a>
        </div>
        <div class="span7">
            <div class="block">
                <div class="data-fluid" id="form">
                    <input id="audit" type="hidden" value="{{ audit }}" />
                    {{ render(controller('EphpDragDropBundle:Render:uploadNf')) }}
{% javascripts  
    '@EphpUtilityBundle/Resources/public/js/check_sanitize_regexp.js'
    '@ClaimsHAuditBundle/Resources/public/js/audit.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
                    {% if entity.question|length > 0 %}
                        <label for="r_si"><input type="radio" name="add_more" id="r_si" value="1" checked="checked"> Add more Claims</label>
                        <label for="r_no"><input type="radio" name="add_more" id="r_no" value="0"> Reset audit</label>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
