<div class="head red">      
    {% if group %}
    <h2>{{ group.obj.titoloLocale(app.user.locale) }} - {{ group.obj.ordine }}/10</h2>
    {% else %}
    <h2>Fine domande</h2>
    {% endif %}
</div>
<div class="data dark">
    {% if group %}
    <form action="{{ path('claims-h-audit-risposte') }}" method="post" id="risposta" onsubmit="rispondi(); return false;">
        {% for key, question in group.questions %}
            {% if key|first == 'q' %}
                {% include "ClaimsHAuditBundle:Audit:groups/"~question.question.type~".html.twig" with {'question': question} %}
            {% else %}
                <fieldset>
                    <legend>{{ question.obj.titoloLocale(app.user.locale) }}</legend>
                    <table class="table grid">
                        <thead>
                            <tr>
                                {% for key2, subquestion in question.questions %}
                                    {% include "ClaimsHAuditBundle:Audit:groups_th/"~subquestion.question.type~".html.twig" with {'question': subquestion} %}
                                {% endfor %}
                                {% if question.obj.multiplo %}
                                    <th width="40">
                                        <a href="javascript:addRow('{{ key }}')" class="button green" id="plus_{{ key }}">
                                            <div class="icon"><span class="ico-plus-sign">{% if label is defined %}{{ label }}{% endif %}</span></div>
                                        </a>
                                    </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody id="body_{{key}}">
                            {% if not question.obj.multiplo %}
                                {% for key2, subquestion in question.questions %}
                                    {% include "ClaimsHAuditBundle:Audit:groups_td/"~subquestion.question.type~".html.twig" with {'question': subquestion, 'n': 0} %}
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <script type="text/html" id="row_{{ key }}">
                        <tr id="row_{{key}}_r{n}">
                            {% for key2, subquestion in question.questions %}
                                {% include "ClaimsHAuditBundle:Audit:groups_td/"~subquestion.question.type~".html.twig" with {'question': subquestion, 'n': '{n}', 'value': false} %}
                            {% endfor %}
                            {% if question.obj.multiplo %}
                                <td>
                                    <a href="javascript:delRow('#row_{{ key }}_r{n}')" class="button red minus_{{ key }}">
                                        <div class="icon"><span class="ico-minus-sign">{% if label is defined %}{{ label }}{% endif %}</span></div>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    </script>
                    <script type="text/javascript" id="row_{{ key }}">
                        {% if question.obj.multiplo %}
                            {% for key2, subquestion in question.questions %}
                                {% for risposta in pratica.risposte(subquestion.question.id) %}
                                    addRisposta('{{key}}', {{risposta.question.id}}, {{risposta.ordine}}, "{{risposta.response}}");
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            sanitizePartialDate([$('.auto_date_{{key}}_r0')]);
                            sanitizeCurrencyFormat([$('.currency_{{key}}_r0')]);
                        {% endif %}
                    </script>
                </fieldset>
            {% endif %}
        {% endfor %}
        <input type="hidden" value="{{ group.obj.ordine }}" name="ordine" />
        <input type="hidden" value="{{ pratica.id }}" name="pratica" id="pratica" />
        <input type="hidden" value="{{ audit.id }}" name="audit" />
        <button type="button" onclick="rispondiGruppo();">Next</button>
        <script type="text/javascript">
            sanitizePartialDate([$('.auto_date')]);
            sanitizeCurrencyFormat([$('.currency')]);
        </script>
    </form>
    {% else %}
        <a href="{{ path('claims-h-audit_show', {'id': audit.id}) }}">
            <span class="label label-inverse">Torna all'elenco pratiche</span>
        </a>
    {% endif %}
    <div class="pagination pagination-centered pagination-centered center">
        <ul>
            {% set gruppo = false %}
            {% for page in audit.question %}
                {% if gruppo.id is not defined or gruppo.id != page.gruppo.id %}
                    {% set gruppo = page.gruppo %}
                    {% if group.obj.id == gruppo.ordine %}
                    <li><a class="active bold yellow" href="javascript:paginaGruppo({{ audit.id }}, {{ gruppo.ordine }}, {{ pratica.id }});" title="{{ gruppo.title }}">{{ gruppo.ordine }}</a></li>
                    {% else %}
                    <li><a href="#box" onclick="paginaGruppo({{ audit.id }}, {{ gruppo.ordine }}, {{ pratica.id }});" title="{{ gruppo.title }}">{{ gruppo.ordine }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <li><a href="{{ path('claims-h-audit_show', {'id': audit.id }) }}"><i class="icon-home"></i></a></li>
        </ul>
    </div>

</div>