{% extends '::base.html.twig' %}

{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-eye-open"></span>
    </div>
    <h1>Audit Hospital</h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                <table class="table grid" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Luogo</th>
                            <th>Giorno</th>
                            <th>Note</th>
                            <th>Pratiche</th>
                            <th>Domande</th>
                            <th width="120" class="TAC">Op.</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>                            
                            <td>{{ entity.luogo }}</td>
                            <td>{% if entity.giorno %}{{ entity.giorno|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ entity.note }}</td>
                            <td>{{ entity.pratiche|length }}</td>
                            <td>{{ entity.question|length }}</td>
                            <td>
                                {% include ":commons:edit.html.twig" with {'route': path('claims-h-audit_edit', { 'id': entity.id })} %}                    
                                {% include ":commons:show.html.twig" with {'route': path('claims-h-audit_show', { 'id': entity.id })} %}
                                {% include ":commons:star.html.twig" with {'route': path('claims-h-audit_risposte', { 'id': entity.id })} %}
                            </td>
                        </tr>
                    {% endfor %}
                
                
        </tbody>
    </table>

{% endblock %}
