{% extends '::base.html.twig' %}
{% form_theme form '::form_aries_layout.html.twig' %}

{% block js %}
{% javascripts  
    '@EphpUtilityBundle/Resources/public/js/check_sanitize_regexp.js'
    '@ClaimsHAuditBundle/Resources/public/js/form.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock js %}

{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-eye-open"></span>
    </div>
    <h1>Audit Hospital <small>Nuovo Audit</small></h1>
</div>
{{ form_start(form) }}
    <div class="row-fluid">
        <div class="span5">
            <div class="block">
                <div class="data-fluid">
                    <h2>1. General data</h2>
                    <h3>2. Upload Claims</h3>
                    <p>Please, insert city and date of Audit.</p>
                </div>
            </div>
            <a href="{{ path('claims-h-audit') }}">
                <span class="label label-inverse">Back</span>
            </a>
        </div>
        <div class="span7">
            <div class="block">
                <div class="data-fluid">
                    {{ form_row(form.luogo) }}
                    {{ form_row(form.giorno) }}
                    {{ form_row(form.note) }}
                    {{ form_rest(form) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
