{% extends '::base.html.twig' %}

{% block inline_css %}
.body .content .table td {line-height: normal;}
.body .content .table.grid th {line-height: normal;}
{% endblock inline_css %}

{% block body %}
<div class="page-header">
    <div class="icon">
        <span class="ico-eye-open"></span>
    </div>
    <h1>Audit Hospital<small>{{ entity.luogo }} - {{ entity.giorno|date('d/m/Y') }}</small></h1>
    <div class="icon green right white">
        <a target="_blank" href="{{ path('claims-h-audit-xls', query)}}"><span class="ico-table" title="Esporta Excel"></span></a>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                <a href="{{ path('claims-h-audit_show', query|merge({'id': entity.id})) }}"><span class="label label-green" style="margin-bottom: 3px;">Claims</span></a>
                <a href="{{ path('claims-h-audit_risposte', query|merge({'id': entity.id})) }}"><span class="label label-success" style="margin-bottom: 3px;">Excel preview</span></a>
                <a href="#fb_ricerca" class="fancybox"><span class="label label-info ico-search" style="margin-bottom: 3px;">&nbsp;Ricerca</span></a>
            </div>
        </div>
    </div>
</div>
{% render(controller("ClaimsHAuditBundle:Render:ricerca", {'id': entity.id, 'route': route, 'ricerca': ricerca})) %}
{% if sorting is defined %}
    <div class="row-fluid">
        <div class="span12">
            <div class="block">
                <div class="data-fluid">
                    {% for sortmode, link in sorting %}
                        <a href="{{ path(app.request.get('_route'), query|merge({'sorting': link.mode})) }}"><span class="label {% if app.user.dati.claims_haudit_sorting == sortmode or app.user.dati.claims_haudit_sorting == 'i'~sortmode %}label-success{% else %}label-green{% endif %} {% if link.icon is defined %}{{ link.icon }}{% endif %}" style="margin-bottom: 3px;">{% if link.icon is defined %}&nbsp;{% endif %}{{ link.label }}</span></a>
                    {% endfor %}
                </div>            
            </div>            
        </div>       
    </div> 
{% endif %}
{% render(controller("ClaimsHAuditBundle:Render:ricerca", {'id': entity.id, 'route': route, 'ricerca': ricerca})) %}
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                <table class="table grid" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="40">#</th>
                            {% set name = '' %}
                            {% set prev_name = '' %}
                            {% for question in entity.question %}
                                {% if question.sottogruppo %}
                                    {% set name = question.sottogruppo.titoloLocale(app.user.locale) %}
                                {% else %}
                                    {% set name = question.question.domandaLocale(app.user.locale) %}
                                {% endif %}
                                {% if name != prev_name %}
                                    <th style="min-width: 150px;">{{ name }}</th>
                                    {% set prev_name = name %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for pratica in pratiche %}
                        <tr>                            
                            <td>{{ loop.index }}</td>
                            {% set name = '' %}
                            {% set prev_name = '' %}
                            {% for question in entity.question %}
                                {% if question.sottogruppo %}
                                    {% set name = question.sottogruppo.titoloLocale(app.user.locale) %}
                                {% else %}
                                    {% set name = question.question.domandaLocale(app.user.locale) %}
                                {% endif %}
                                {% if name != prev_name %}
                                    {% if question.sottogruppo %}
                                        {% set values = pratica.subgroupValues(question.sottogruppo.id) %}
                                    {% else %}
                                        {% set values = pratica.values(question.question) %}
                                    {% endif %}
                                    <td style="min-width: 150px;"{% if question.sottogruppo %} nowrap{% endif %}>
                                        {% if values %}
                                            {% for value in values.response %}
                                                {{ value }}<br/>
                                            {% endfor %}
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}
                                    </td>
                                    {% set prev_name = name %}
                                {% endif %}
{#
                                    {% include "ClaimsHAuditBundle:Audit:risposte/"~question.question.type~".html.twig" %}
#}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                
{% endblock %}
