{% extends '::base.html.twig' %}

{% block ready_js %}
$('#fast_search').keyup(function(){
    fastSearch();
});
{% endblock ready_js %}
{% block inline_js %}
function fastSearch() {
    var q = $('#fast_search').val().trim().toLowerCase();
    if(q.trim() == '') {
        $('.fast_search').show();
    } else {
        $('.fast_search').hide();
        $('.fast_search').each(function(){
            if($(this).attr('name').toLowerCase().search(q) >=0) {
                $(this).show();
            }
        });
    }
} 
{% endblock inline_js %}

{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-eye-open"></span>
    </div>
    <h1>Audit Hospital<small>{{ entity.luogo }} - {{ entity.giorno|date('d/m/Y') }}</small></h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                <a href="{{ path('claims-h-audit_show', {'id': entity.id}) }}"><span class="label label-success" style="margin-bottom: 3px;">Riassunto</span></a>
                <a href="{{ path('claims-h-audit_risposte', {'id': entity.id}) }}"><span class="label label-green" style="margin-bottom: 3px;">Risposte</span></a>
                <a href="#fb_ricerca" class="fancybox"><span class="label label-info ico-search" style="margin-bottom: 3px;">&nbsp;Ricerca</span></a>
            </div>
        </div>
    </div>
</div>
{% render(controller("ClaimsHAuditBundle:Render:ricerca", {'id': entity.id, 'route': route, 'ricerca': ricerca})) %}
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                <table class="table grid" cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="40">#</th>
                            <th>Group</th>
                            <th>TPA</th>
                            <th>Claimant <input type="text" id="fast_search" style="width: 200px;"></th>
                            <th>Progress</th>
                            <th width="80" class="TAC">Op.</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for pratica in entity.pratiche %}
                        <tr name="{{ pratica.claimant }}" class='fast_search'>                            
                            <td>{{ loop.index }}</td>
                            <td>{{ pratica.gruppo }}</td>
                            <td>{{ pratica.codice }}</td>
                            <td>{{ pratica.claimant }}</td>
                            <td>{{ pratica.question|length }}/{{ entity.question|length }}</td>
                            <td>
                                {% include ":commons:show.html.twig" with {'route': path('claims-h-audit_show-pratica', { 'id': entity.id, 'slug': pratica.slug })} %}
                                {% include ":commons:delete.html.twig" with {'route': path('claims-h-audit_pratica-delete', { 'id': pratica.id }), 'disable': app.user.hasRole('C_AUDIT_HC'), 'question': 'You want to delete ' ~ pratica.claimant } %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                
{% endblock %}
