{% extends '::base.html.twig' %}

{% block js %}
{% javascripts  
    '@EphpUtilityBundle/Resources/public/js/check_sanitize_regexp.js'
    '@ClaimsHAuditBundle/Resources/public/js/scheda.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock js %}

{% block inline_css %}
.pagination ul>li>a,.pagination ul>li>span{float:left;width:20px;padding:4px 12px;line-height:20px;text-decoration:none;border:1px solid #ddd;}
.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {-webkit-border-bottom-left-radius: 4px;border-bottom-left-radius: 4px;-webkit-border-top-left-radius: 4px;border-top-left-radius: 4px;-moz-border-radius-bottomleft: 4px;-moz-border-radius-topleft: 4px;}
{% endblock inline_css %}

{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-eye-open"></span>
    </div>
    <h1>Audit Hospital<small>{{ audit.luogo }} - {{ audit.giorno|date('d/m/Y') }}</small></h1>
    <div class="icon dblue right white">
        <a target="_blank" href="{{ path('claims_audit_hospital_word_report', {'slug': pratica.slug}) }}"><span class="ico-file-3" title="Esporta Word"></span></a>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="block">
            <div class="data-fluid">
                <div class="head dblue">                                
                    <h2>{{ pratica.codice }} - {{ pratica.claimant }}</h2>
                </div>
                <div class="data dark">
                    <div  id="riepilogo">
                        {% include "ClaimsHAuditBundle:Audit:showPratica/riepilogo.html.twig" %}
                    </div>
                    {% for question in audit.question %}
                        {% if loop.first %}
                            {% if not question.gruppo %}
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">1. Fact</h3>
                                        </div>
                                        <textarea id="fact_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="fact" >{{ pratica.fact }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">2. Investigation Handling</h3>
                                        </div>
                                        <textarea id="investigationHandling_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="investigationHandling" >{{ pratica.investigationHandling }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">3. Liability</h3>
                                        </div>
                                        <textarea id="liability_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="liability" >{{ pratica.liability }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">4. Quantum</h3>
                                        </div>
                                        <textarea id="quantum_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="quantum" >{{ pratica.quantum }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">5. Negotiation Handling</h3>
                                        </div>
                                        <textarea id="negotiationHandling_audit" class="expand autoupdate autogrow " pratica="{{ pratica.slug }}" name="negotiationHandling" >{{ pratica.negotiationHandling }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">6. Civil/Criminal Proceeding Handling</h3>
                                        </div>
                                        <textarea id="proceedingHandling_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="proceedingHandling" >{{ pratica.proceedingHandling }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">7. Our Comments</h3>
                                        </div>
                                        <textarea id="ourComments_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="ourComments" >{{ pratica.ourComments }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">8. NL Damage</h3>
                                        </div>
                                        <textarea id="nlDamage_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="nlDamage" >{{ pratica.nlDamage }}</textarea>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">1. Fact of Case</h3>
                                        </div>
                                        <textarea id="fact_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="fact" >{{ pratica.fact }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">2. Chronology</h3>
                                        </div>
                                        <textarea id="cronology_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="cronology" >{{ pratica.cronology }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">3. Liability</h3>
                                        </div>
                                        <textarea id="liability_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="liability" >{{ pratica.liability }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">4. Quantum</h3>
                                        </div>
                                        <textarea id="quantum_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="quantum" >{{ pratica.quantum }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">5. Claims Handling Failings</h3>
                                        </div>
                                        <textarea id="claimsHandling_audit" class="expand autoupdate autogrow " pratica="{{ pratica.slug }}" name="claimsHandling" >{{ pratica.claimsHandling }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">6. Any comments from Large Loss Reports</h3>
                                        </div>
                                        <textarea id="commentsLLR_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="commentsLLR" >{{ pratica.commentsLLR }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">7. Newline comments</h3>
                                        </div>
                                        <textarea id="nlComments_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="nlComments" >{{ pratica.nlComments }}</textarea>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="block icon no-margin">
                                            <h3 class="ico-pencil">8. Note</h3>
                                        </div>
                                        <textarea id="note_audit" class="expand autoupdate autogrow" pratica="{{ pratica.slug }}" name="note" >{{ pratica.note }}</textarea>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="block">
            <div class="row-fluid" id="files">
                {% include "ClaimsHAuditBundle:Audit:files.html.twig" %}
            </div>
            <div class="row-fluid" id="question">
            <a name="box"></a>
             {% for question in audit.question %}
                {% if loop.first %}
                    {% if not question.gruppo %}
                        {% include "ClaimsHAuditBundle:Audit:question.html.twig" %}
                    {% else %}
                        {% include "ClaimsHAuditBundle:Audit:groups.html.twig" with {'group': audit.group(1)} %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
