{% if class is not defined %}{% set class = '' %}{% endif %}
<a href="{% if disable is defined and disable %}javascript:;{% else %}{% if question is defined %}javascript:if(confirm('{{ question }}')){ {% if js is defined %}{{ js }}{% else %}window.location='{{ route }}';{% endif %} }{% else %}{{ route }}{% endif %}{% endif %}" class="button {% if disable is defined and disable %}lgray{% else %}red{% endif %} {{ class }}">
    <div class="icon"><span class="ico-remove-sign">{% if label is defined %}{{ label }}{% endif %}</span></div>
</a>