<h3>{{ pratica.gruppo }}</h3>
{% set span = 4 %}
{% for domanda in audit.previewQuestion %}
    {% if loop.index % 3 == 1 %}
    <div class="row-fluid">
        <div class="block" style="margin-bottom: 5px;">
        {% if loop.length - loop.index == 1 %}
            {% set span = 6 %}
        {% endif %}
        {% if loop.length - loop.index == 0 %}
            {% set span = 12 %}
        {% endif %}
    {% endif %}
            <div class="span{{ span }}">
                <div class="block">
                    <div class="audit no-margin">
                        <h6>{{ domanda.domandaLocale(app.user.locale) }}</h6>
                        {% set values = pratica.values(domanda) %}
                        <ul id="ul_{{ domanda.id }}">
                        {% for value in values.response %}
                            <li>{{ value }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    {% if loop.index % 3 == 0 or loop.last %}
        </div>
    </div>
    {% endif %}
{% endfor %}