{% set value = pratica.value(question.question.id) %}
<form action="{{ path('claims-h-audit-risposta') }}" method="post" id="risposta" onsubmit="rispondi(); return false;">
        {% for risposta in question.question.options %}
            <label for="cb{{ loop.index }}"><input type="checkbox" name="risposta[value][]" value="{{ risposta }}" {% if value and risposta in value.responses%}checked="checked"{% endif %} id="cb{{ loop.index }}"/>{{ risposta }}</label>
        {% endfor %}
    <input type="hidden" value="{{ question.question.id }}" name="risposta[question]" />
    <input type="hidden" value="{{ question.ordine }}" name="risposta[ordine]" />
    <input type="hidden" value="{{ pratica.id }}" name="risposta[pratica]" />
    <input type="hidden" value="{{ audit.id }}" name="risposta[audit]" />
    <button type="button" onclick="rispondi();">Avanti</button>
</form>