{% set value = pratica.value(question.question.id) %}
<form action="{{ path('claims-h-audit-risposta') }}" method="post" id="risposta">
    {#<input type="number" value="{% if value %}{{ value.response }}{% endif %}" name="risposta[value]" />
    <input type="hidden" value="{{ question.question.id }}" name="risposta[question]" />
    <input type="hidden" value="{{ question.ordine }}" name="risposta[ordine]" />
    <input type="hidden" value="{{ pratica.id }}" name="risposta[pratica]" />
    <input type="hidden" value="{{ audit.id }}" name="risposta[audit]" />
    <button type="button" onclick="rispondi();">Avanti</button>#}
    Missing formula (TODO)
</form>