{% if app.request.get('ricerca') %}
    <div class="row-fluid">
        <div class="span12">
            <div class="block">
                <b>Criteri di ricerca:</b>
                {% if entity.anno %}<span class="label label-warning">Anno: {{ entity.anno }}</span>{% endif %}
                {% if entity.codice %}<span class="label label-warning">TPA: {{ entity.codice }}</span>{% endif %}
                {% if entity.claimant %}<span class="label label-warning">Claimant: {{ entity.claimant }}</span>{% endif %}
                {% if entity.soi %}<span class="label label-warning">SOI: {{ entity.soi(true) }}</span>{% endif %}
                {% if entity.amountReserved %}<span class="label label-warning">Amount Reserved: {{ entity.amountReserved }}</span>{% endif %}
                {% if entity.ospedale %}<span class="label label-warning">Ospedale: {{ entity.ospedale }}</span>{% endif %}
                {% if entity.court %}<span class="label label-warning">Giudiziale: {{ entity.court }}</span>{% endif %}
                {% if entity.status %}<span class="label label-warning">Status {{ entity.status }}</span>{% endif %}
                {% if entity.statoPratica %}<span class="label label-warning">Stato pratica: {{ entity.statoPratica }}</span>{% endif %}
                {% if entity.priorita %}<span class="label label-warning">Priorità: {{ entity.priorita }}</span>{% endif %}
                {% if entity.gestore %}<span class="label label-warning">Gestore: {{ entity.gestore.nome }}</span>{% endif %}
            </div>
        </div>
    </div>
{% endif %}
<div style="display: none" id="fb_ricerca">
    {{ form_start(form) }}
        <div class="page-header">
            <div class="icon">
                <span class="ico-search"></span>
            </div>
            <h1>Ricerca pratiche</h1>
        </div>   
        <div class="row-fluid">
            <div class="span6">
                <div class="block">
                    <div class="data-fluid">
                        {{ form_row(form.codice) }}
                        {{ form_row(form.claimant) }}
                        {{ form_row(form.soi) }}
                        {{ form_row(form.amountReserved) }}
                        {{ form_row(form.court) }}
                        {{ form_row(form.statoPratica) }}
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="block">
                    <div class="data-fluid">
                        {{ form_row(form.ospedale) }}
                        {{ form_row(form.anno) }}
                        {{ form_row(form.gestore) }}
                        {{ form_row(form.priorita) }}
                        {{ form_row(form.status) }}
                        &nbsp;<br/>
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>