<tr style="background-color: #ccc; color: #000;">
    <th style="text-align: right;">{{ index }}</th>
    <td style="text-align: center;" nowrap>{{ pratica.codice }}</td>
    <td style="text-align: center; font-weight: bold;"><abbr title="{{ pratica.priorita.priorita }}">{{ pratica.priorita.priorita }}</abbr></td>
    <td style="text-align: center; font-weight: bold;">{{ pratica.claimant }}</td>
    <td>{{ pratica.note }}</td>
    <td>{{ pratica.lastLog|raw }}</td>
</tr>