{% extends '::base.html.twig' %}
{% block js %}
{% javascripts  
    '@EphpUtilityBundle/Resources/public/js/check_sanitize_regexp.js'
    '@JFCalendarBundle/Resources/public/js/index.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock js%}
{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-calendar"></span>
    </div>
    <h1>Calendario personale</h1>
</div>

<div class="row-fluid">
    <div class="span8">
        <div class="block calendar">
            <div id="mydatepicker"></div>
        </div>
    </div>
    <div class="span4">
        <div class="block">
            <a href="#fb_aggiungi_evento" class="fancybox icon"><span class="label label-success ico-calendar"> Aggiungi data</span></a>

            {% for label, cal in eventi %}
            <h5>{{ label }}</h5>
            <dl>
                {% for evento in cal.eventi %}
                    <dt onclick="$('#d_{{ evento.id }}').toggle();">{{ evento.dataOra|date('d-m-Y') }} - {{ evento.titolo }}</dt>
                    <dd id="d_{{ evento.id }}" style="display: none">{{ evento.note }}</dd>
                {% endfor %}
            </dl>
            {% endfor %}
        </div>
    </div>
</div>

{% render(controller("JFCalendarBundle:Render:nuovoEvento")) %}

<script type="text/javascript">
    var giorni = {{ giorni|raw }};
</script>   
{% endblock %}
