<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <a href="#fb_aggiungi_evento" class="fancybox icon"><span class="label label-success ico-calendar"> Aggiungi data</span></a>
            <a href="{{ path('claims_hospital_stampa_pratica', {'slug': entity.slug}) }}" target="_blank" class="icon"><span class="label label-warning ico-printer"> Versione per la stampa</span></a>
            <table class="table" style="width: 100%;">
                <thead>
                    <tr>
                        <th width="80px">Data</th>
                        <th width="33%">Titolo</th>
                        <th width="67%">Note</th>
                        <th width="80px">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for evento in entity.eventi %}
                        {% if evento.titolo|trim != '' %}
                            {#<tr style="background-color: #{{evento.tipo.colore}};">#}
                            <tr>
                                <td class="center" nowrap>
                                    {% if evento.tipo.modificabile %}
                                        <input type="text" class="autoupdate auto_date" evento="{{ evento.id }}" name="data_ora" value="{{ evento.dataOra|date('d/m/Y') }}"/>
                                    {% else %}
                                        {{ evento.dataOra|date('d/m/Y') }}
                                    {% endif %}
                                    <div id="star_{{ evento.id }}" class="star" evento="{{ evento.id }}">
                                        {% if evento.importante %}
                                            {% include ":commons:color.html.twig" with {'color' : '#FFAA31 !important;', 'icon': 'ico-star', 'title': 'Evento importante'} %}
                                        {% else %}
                                            {% include ":commons:color.html.twig" with {'color' : '#D1D1D1 !important;', 'icon': 'ico-star-empty', 'title': 'Evento'} %}
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="center">
                                    {% if evento.tipo.modificabile %}
                                        <input type="text" class="autoupdate auto_double" evento="{{ evento.id }}" name="titolo" value="{{ evento.titolo }}"/>
                                    {% else %}
                                        {{ evento.titolo }}
                                    {% endif %}
                                    <br/>
                                    {% if evento.tipo.pubblico %}
                                        {% include ":commons:color.html.twig" with {'color' : '#' ~ evento.tipo.colore ~ ' !important;', 'icon': 'ico-eye-open', 'label': evento.tipo.sigla, 'title': evento.tipo.nome} %}
                                    {% else %}
                                        {% include ":commons:color.html.twig" with {'color' : '#' ~ evento.tipo.colore ~ ' !important;', 'icon': 'ico-eye-close', 'label': evento.tipo.sigla, 'title': evento.tipo.nome} %}
                                    {% endif %}
                                </td>
                                <td class="note" style="max-width: 400px !important;">
                                    {% if evento.tipo.modificabile %}
                                        <div class="typography2 fta" evento="{{ evento.id }}" name="note"  contenteditable="true">
                                    {% endif %}
                                    {{ evento.notePulite|raw|nl2br }}
                                    {% if evento.tipo.modificabile %}
                                        </div>
                                    {% endif %}
                                </td>
{#
                                <td>
                                    {% if evento.tipo.modificabile %}
                                        <textarea class="autoupdate autogrow" evento="{{ evento.id }}" name="note" placeholder="Inserisci qui le tue note">{{ evento.notePulite }}</textarea>
                                    {% else %}
                                        {{ evento.notePulite|raw }}
                                    {% endif %}
                                </td>
#} 
                               <td title="{{evento.tipo.sigla}}">
                                    {#% include ":commons:star.html.twig" with {'enable' : evento.importante, 'route': 'javascript:evidenziaEvento(' ~ evento.id ~ ');'} %#}
                                    {% if evento.tipo.cancellabile %}
                                        {% include ":commons:delete.html.twig" with {'route': 'javascript:cancellaEvento(' ~ evento.id ~ ', "' ~ evento.dataOra|date('d/m/Y') ~ ' - ' ~ evento.titolo ~'");'} %}
                                    {% else %}
                                        {% include ":commons:delete.html.twig" with {'disable' : true, 'route': 'javascript:void(0);'} %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>        
            <a href="#fb_aggiungi_evento" class="fancybox icon"><span class="label label-success ico-calendar"> Aggiungi data</span></a>
            <a href="{{ path('claims_hospital_stampa_pratica', {'slug': entity.slug}) }}" target="_blank" class="icon"><span class="label label-warning ico-printer"> Versione per la stampa</span></a>
        </div>
    </div>
</div>