<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h3 class="ico-pencil">Note</h3>
        </div>
        <textarea class="expand autoupdate autogrow note" pratica="{{ entity.slug }}" name="note" placeholder="Inserisci qui le tue note">{{ entity.notePulite }}</textarea>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h3 class="ico-user">Legali Avversari</h3>
        </div>
        <textarea class="expand autoupdate autogrow legali_avversari" pratica="{{ entity.slug }}" name="legali_avversari" placeholder="Inserisci qui i dati sui legali avversari">{{ entity.legaliAvversari }}</textarea>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h3 class="ico-info">Informazioni</h3>
        </div>
        <textarea class="expand autoupdate autogrow informazioni" pratica="{{ entity.slug }}" name="informazioni" placeholder="Inserisci qui le informazioni utili">{{ entity.informazioni }}</textarea>
    </div>
</div>
{% if entity.recupero or entity.recuperato %}
    <div class="row-fluid">
        <div class="span12">
            <div class="block icon no-margin">
                <h3 class="ico-money-bag">Dati Recupero</h3>
            </div>
            {% if entity.recupero %}
                <textarea class="expand autoupdate autogrow dati_recupero" pratica="{{ entity.slug }}" name="dati_recupero" placeholder="Inserisci qui i dati relativi al recupero">{{ entity.datiRecuperoPuliti }}</textarea>
            {% else %}
                <p>{{ entity.datiRecuperoPuliti|nl2br }}</p>
            {% endif %}
        </div>
    </div>
{% endif %}