<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h3 class="ico-pencil">Note</h3>
        </div>
        <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="note" placeholder="Inserisci qui le tue note">{{ entity.note }}</textarea>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h3 class="ico-user">Legali Avversari</h3>
        </div>
        <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="legali_avversari" placeholder="Inserisci qui i dati sui legali avversari">{{ entity.legaliAvversari }}</textarea>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h3 class="ico-info">Dati Recupero</h3>
        </div>
        <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="dati_recupero" placeholder="Inserisci qui i dati relativi al recupero">{{ entity.datiRecupero }}</textarea>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h3 class="ico-info">Informazioni</h3>
        </div>
        <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="informazioni" placeholder="Inserisci qui le informazioni utili">{{ entity.informazioni }}</textarea>
    </div>
</div>