<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h3 class="ico-money-bag">Recupero <small>{{ entity }}</small></h3>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>1</small> Individuazione responsabile</h4>
            {% if app.user.hasRole('C_RECUPERI_H') %}
                <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_responsabile">{{ entity.recuperoResponsabile }}</textarea>
            {% else %}
                {{ entity.recuperoResponsabile }}
            {% endif %}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>2</small> Email ASL (Sollecito 1910)</h4>
            {% if app.user.hasRole('C_RECUPERI_H') %}
                <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_sollecito_asl">{{ entity.recuperoSollecitoAsl }}</textarea>
            {% else %}
                {{ entity.recuperoSollecitoAsl }}
            {% endif %}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>3</small> Recupero copia sinistro/copia polizza</h4>
            {% if app.user.hasRole('C_RECUPERI_H') %}
                <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_copia_polizza">{{ entity.recuperoCopiaPolizza }}</textarea>
            {% else %}
                {{ entity.recuperoCopiaPolizza }}
            {% endif %}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>4</small> Scrivere/telefonare al liquidatore per chiedere compartecipazione</h4>
            {% if app.user.hasRole('C_RECUPERI_H') %}
                <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_email_liquidatore">{{ entity.recuperoEmailLiquidatore }}</textarea>
            {% else %}
                {{ entity.recuperoEmailLiquidatore }}
            {% endif %}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>5</small> Chiedere percentuale espressamente e quietanze separate</h4>
            {% if app.user.hasRole('C_RECUPERI_H') %}
                <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_quietanze">{{ entity.recuperoQuietanze }}</textarea>
            {% else %}
                {{ entity.recuperoQuietanze }}
            {% endif %}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>5</small> Azione di recupero</h4>
            {% if app.user.hasRole('C_RECUPERI_H') %}
                <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_azione_di_recupero">{{ entity.recuperoAzioneDiRecupero }}</textarea>
            {% else %}
                {{ entity.recuperoAzioneDiRecupero }}
            {% endif %}
        </div>
    </div>
</div>
