<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h3 class="ico-money-bag">Recupero <small>{{ entity }}</small></h3>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>1</small> Individuazione responsabile</h4>
            <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_responsabile">{{ entity.recuperoResponsabile }}</textarea>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>2</small> Email ASL (Sollecito 1910)</h4>
            <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_sollecito_asl">{{ entity.recuperoSollecitoAsl }}</textarea>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>3</small> Recupero copia sinistro/copia polizza</h4>
            <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_copia_polizza">{{ entity.recuperoCopiaPolizza }}</textarea>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>4</small> Scrivere/telefonare al liquidatore per chiedere compartecipazione</h4>
            <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_email_liquidatore">{{ entity.recuperoEmailLiquidatore }}</textarea>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>5</small> Chiedere percentuale espressamente e quietanze separate</h4>
            <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_quietanze">{{ entity.recuperoQuietanze }}</textarea>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <h4><small>6</small> Azione di recupero</h4>
            <textarea class="autoupdate autogrow" pratica="{{ entity.slug }}" name="recupero_azione_di_recupero">{{ entity.recuperoAzioneDiRecupero }}</textarea>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block icon no-margin">
            <h3 class="ico-money-bag">Dati Recupero</h3>
        </div>
        <textarea class="autoupdate autogrow dati_recupero" pratica="{{ entity.slug }}" name="dati_recupero" placeholder="Inserisci qui i dati relativi al recupero">{{ entity.datiRecupero }}</textarea>
    </div>
</div>