<div class="page-header">
    <div class="icon">
        <span class="ico-pencil"></span>
    </div>
    <h1>Report <small>{{ entity }}</small></h1>
    <div class="icon yellow right white">
        <a target="_blank" href="{{ path('claims_hospital_stampa_report', {'slug': entity.slug}) }}"><span class="ico-printer" title="Stampa"></span></a>
    </div>
    {% if app.user.cliente.get('slc.h-analisi.on', false) %}
        <div class="icon dblue right white">
            <a target="_blank" href="{{ path('claims_hospital_word_report', {'slug': entity.slug}) }}"><span class="ico-file-3" title="Esporta Word"></span></a>
        </div>
    {% endif %}
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="block bold">
            Claimant: {{ entity.claimant }}
        </div>
    </div>
    <div class="span6">
        <div class="block bold">
            TPA: {{ entity.ospedale.sistema.nome }}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span1">
        <div class="block bold">
            SOI:
        </div>
    </div>
    <div class="span5">
        <div class="block bold">
            <select class="autoupdate" pratica="{{ entity.slug }}" name="report_soi">
            {% for n, soi in entity.severityOfInjury %}
                <option value="{{ n }}" {% if entity.reportSoi == n %}selected="selected"{% endif %}>{{ soi }}</option>
            {% endfor %}
            </select>      
        </div>
    </div>
    <div class="span6">
        <div class="block bold">
            N.Claim: {{ entity.codice }}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="block">
            Data evento (DOL):<input type="text" class="autoupdate autodate" pratica="{{ entity.slug }}" name="report_dol" value="{% if entity.reportDol %}{{ entity.reportDol|date('d/m/Y') }}{% endif %}"/>
        </div>
    </div>
    <div class="span6">
        <div class="block">
            Data reclamo (DON):<input type="text" class="autoupdate autodate" pratica="{{ entity.slug }}" name="report_don" value="{% if entity.reportDon %}{{ entity.reportDon|date('d/m/Y') }}{% endif %}"/>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            Descrizione evento:<br/><textarea class="expand autoupdate autogrow" pratica="{{ entity.slug }}" name="report_descrizione">{{ entity.reportDescrizione }}</textarea>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            {# 
            MPL:<br/><textarea class="expand autoupdate autogrow" pratica="{{ entity.slug }}" name="report_mpl">{{ entity.reportMpl }}</textarea>
            #}
            MPL:<select class="autoupdate" pratica="{{ entity.slug }}" name="report_mpl">
            {% for n, mpl in entity.fasceMpl %}
                <option value="{{ n }}" {% if entity.reportMpl == n %}selected="selected"{% endif %}>{{ mpl }}</option>
            {% endfor %}
            </select> 
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            Giudiziale:<br/><textarea class="expand autoupdate autogrow" pratica="{{ entity.slug }}" name="report_giudiziale">{{ entity.reportGiudiziale }}</textarea>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            Other Policies:<br/><textarea class="expand autoupdate autogrow" pratica="{{ entity.slug }}" name="report_other_policies">{{ entity.reportOtherPolicies }}</textarea>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="block">
            Tipo danno (TPL):<select class="autoupdate" pratica="{{ entity.slug }}" name="report_type_of_loss">
            {% for n, tpl in entity.tpl %}
                <option value="{{ n }}" {% if entity.reportTypeOfLoss == n %}selected="selected"{% endif %}>{{ tpl }}</option>
            {% endfor %}
            </select> 
        </div>
    </div>
    <div class="span6">
        <div class="block">
            Dipartimento ospedaliero:<select class="autoupdate" pratica="{{ entity.slug }}" name="report_service_provider">
            {% for n, sp in entity.sa %}
                <option value="{{ n }}" {% if entity.reportServiceProvider == n %}selected="selected"{% endif %}>{{ sp }}</option>
            {% endfor %}
            </select> 
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="block">
            Possible Recovery:<input type="text" class="autoupdate currency" pratica="{{ entity.slug }}" name="report_possible_recovery" value="{{ entity.reportPossibleRecovery }}"/>
        </div>
    </div>
    <div class="span6">
        <div class="block">
            Amount Reserved:<input type="text" class="autoupdate currencynp" pratica="{{ entity.slug }}" name="report_amount_reserved" value="{% if entity.reportAmountReserved < 0 %}N.P.{% else %}{{ entity.reportAmountReserved }}{% endif %}"/>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="block">
            Applicable Deductable:<input type="text" class="autoupdate currency" pratica="{{ entity.slug }}" name="report_applicable_deductable" value="{{ entity.reportApplicableDeductable }}"/>
        </div>
    </div>
    <div class="span6">
        <div class="block">
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            Future Conduct:<br/><textarea class="expand autoupdate autogrow" pratica="{{ entity.slug }}" name="report_future_conduct">{{ entity.reportFutureConduct }}</textarea>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="block">
        </div>
    </div>
    <div class="span6">
        <div class="block">
            AVV. {{ entity.gestore.nome|upper }}
        </div>
    </div>
</div>


<div class="row-fluid">
    <div class="span6">
        <div class="block">
            <table class="table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Numero</th>
                        <th width="80px">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% set numero = false %}
                    {% for report in entity.reports %}
                        <tr>
                            <td class="center">{{ report.data|date('d/m/Y') }}</td>
                            <td class="center">{{ report.number }}</td>
                            <td width="80px">
                                <a href="{{ path('claims_hospital_report_pratica_show', {'slug': entity.slug, 'numero': report.number}) }}" class="button green" onclick="return loadAjax($(this));">
                                    <div class="icon"><span class="ico-eye"></span></div>
                                </a>
                                {#% if not report.validato %#}
                                    {% set numero = report.number %}
                                    <a href="{{ path('claims_hospital_report_pratica_edit', {'slug': entity.slug, 'numero': report.number}) }}" class="button yellow" onclick="return loadAjax($(this));">
                                        <div class="icon"><span class="ico-pencil"></span></div>
                                    </a>
                                {#% endif %#}
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="span6">
        <div class="block">
                <a href="{{ path('claims_hospital_report_pratica_edit', {'slug': entity.slug, 'numero': numero}) }}" class="icon" onclick="return loadAjax($(this));"><span class="label yellow ico-pen"> Complata report {{ numero }}</span></a>
                <a href="{{ path('claims_hospital_report_pratica_new', {'slug': entity.slug}) }}" class="icon" onclick="return loadAjax($(this));"><span class="label green ico-pen"> Aggiungi report</span></a>
            {% if numero %}
            {% else %}
            {% endif %}
            {% if app.user.cliente.get('slc.h-analisi.on', false) %}
                <a href="{{ path('claims_hospital_word_report', {'slug': entity.slug}) }}" target="_blank" class="icon"><span class="label dblue ico-file-3"> Esporta Word</span></a>
            {% endif %}
            <a href="{{ path('claims_hospital_stampa_report', {'slug': entity.slug}) }}" target="_blank" class="icon"><span class="label label-warning ico-printer"> Versione per la stampa</span></a>
         </div>
    </div>
</div>
