{% extends '::base.html.twig' %}
{% block js %}
{% javascripts  
    '@ClaimsHBundle/Resources/public/js/tabellone/index.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-files"></span>
    </div>
    <h1>JF-Claims <small>Hospital</small></h1>
</div>

    
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                {% for linkmode, link in links %}
                    <a href="{% if link.fancybox is defined %}#{{ link.fancybox }}{% else %}{{ path(link.route) }}{% endif %}" {% if link.target is defined %}target="{{ link.target }}"{% endif %} {% if link.fancybox is defined %}class="fancybox"{% endif %}><span class="label {% if linkmode == mode %}label-success{% else %}{% if link.class is defined %}{{ link.class }}{% else %}label-green{% endif %}{% endif %} {% if link.icon is defined %}{{ link.icon }}{% endif %}">{% if link.icon is defined %}&nbsp;{% endif %}{{ link.label }}</span></a>
                {% endfor %}
            </div>            
        </div>            
    </div>       
</div>       
{% render(controller("ClaimsHBundle:Render:ricerca", {'mode': mode, 'ricerca': app.request.get('ricerca')})) %}
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                {% include "ClaimsHBundle:Tabellone:index/table.html.twig" %}
            </div> 
        </div>            
    </div>            
</div>         
<div class="row-fluid">
    <div class="span12">
        {{ knp_pagination_render(pagination) }}
    </div>            
</div>         
{% render(controller("ClaimsHBundle:Render:dettagli")) %}
{% render(controller("ClaimsHBundle:Render:cambiaPriorita")) %}
{% if app.user.hasRole(['C_GESTORE', 'C_GESTORE_H']) %}
    {% render(controller("ClaimsHBundle:Render:cambiaStato")) %}
    {% render(controller("ClaimsHBundle:Render:cambiaNote")) %}
{% endif %}
{% if app.user.hasRole('C_ADMIN') %}
    {% render(controller("ClaimsHBundle:Render:cambiaDasc")) %}
    {% render(controller("ClaimsHBundle:Render:cambiaGestore")) %}
{% endif %}
{% endblock %}
