{% extends '::base.html.twig' %}
{% block js %}
{% javascripts  
    '@EphpUtilityBundle/Resources/public/js/check_sanitize_regexp.js'
    '@ClaimsHBundle/Resources/public/js/Tabellone/index.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-archive"></span>
    </div>
    <h1>JF-Claims <small>Hospital</small></h1>
    {% if app.user.hasRole(['C_GESTORE_H', 'C_RECUPERI_H']) %}
        <div class="icon blue right white">
            <a href="javascript:$('#ricerca').slideToggle();"><span class="ico-search" title="Ricerca"></span></a>
        </div>
    {% endif %}
    <div class="icon yellow right white">
        <a target="_blank" href="{{ path(app.request.get('_route') ~ '_stampa', query)}}"><span class="ico-printer" title="Stampa"></span></a>
    </div>
    {% if app.user.cliente.get('slc.h-analisi.on', false) %}
        <div class="icon green right white">
            <a target="_blank" href="{{ path(app.request.get('_route') ~ '_xls', query)}}"><span class="ico-table" title="Esporta Excel"></span></a>
        </div>
    {% endif %}
    {% if twig_button is defined %}
        {% include twig_button %}
    {% endif %}
</div>
    
{% if app.user.hasRole(['C_GESTORE_H', 'C_RECUPERI_H']) %}
    <div class="row-fluid no-display" id="ricerca">
        <div class="span12">
            <div class="widgets">
                {% render(controller("ClaimsHBundle:Widgets:cerca")) %}
            </div>
        </div>
    </div>
{% endif %}

{% if sistemi is defined %}
    <div class="row-fluid">
        <div class="span12">
            <div class="block">
                <div class="data-fluid">
                    {% for key, sys in sistemi %}
                        <a href="{{ path(app.request.get('_route'), {'sistema': key}) }}"><span class="label {% if key == sistema%}label-success{% else %}label-green{% endif %}" style="margin-bottom: 3px;">{{ sys }}</span></a>
                    {% endfor %}
                </div>            
            </div>            
        </div>       
    </div>       
{% endif %}
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                {% for linkmode, link in links %}
                    <a href="{% if link.fancybox is defined %}#{{ link.fancybox }}{% else %}{% if link.params is defined %}{{ path(link.route, link.params) }}{% else %}{{ path(link.route) }}{% endif %}{% endif %}" {% if link.target is defined %}target="{{ link.target }}"{% endif %} {% if link.fancybox is defined %}class="fancybox"{% endif %}><span class="label {% if linkmode == mode %}label-success{% else %}{% if link.class is defined %}{{ link.class }}{% else %}label-green{% endif %}{% endif %} {% if link.icon is defined %}{{ link.icon }}{% endif %}" style="margin-bottom: 3px;">{% if link.icon is defined %}&nbsp;{% endif %}{{ link.label }}</span></a>
                {% endfor %}
            </div>            
        </div>            
    </div>       
</div> 
{% if stati is defined %}
    <div class="row-fluid">
        <div class="span12">
            <div class="block">
                <div class="data-fluid">
                    {% for statob in stati %}
                        <a href="{{ path(app.request.get('_route'), {'stato': statob.id}) }}"><span class="label {% if statob.id == stato %}label-success{% else %}label-green{% endif %}" style="margin-bottom: 3px;">{{ statob.stato }}</span></a>
                    {% endfor %}
                </div>            
            </div>            
        </div>       
    </div>       
{% endif %}
{% if sorting is defined %}
    <div class="row-fluid">
        <div class="span12">
            <div class="block">
                <div class="data-fluid">
                    {% for sortmode, link in sorting %}
                        <a href="{{ path(app.request.get('_route'), query|merge({'sorting': link.mode})) }}"><span class="label {% if app.user.dati.claims_h_sorting == sortmode or app.user.dati.claims_h_sorting == 'i'~sortmode %}label-success{% else %}label-green{% endif %} {% if link.icon is defined %}{{ link.icon }}{% endif %}" style="margin-bottom: 3px;">{% if link.icon is defined %}&nbsp;{% endif %}{{ link.label }}</span></a>
                    {% endfor %}
                </div>            
            </div>            
        </div>       
    </div> 
{% endif %}
{% if route_ricerca is defined %}
    {% render(controller("ClaimsHBundle:Render:ricerca", {'route': route_ricerca, 'ricerca': app.request.get('ricerca')})) %}
{% endif %}
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                {% include "ClaimsHBundle:Tabellone:index/table_nuova.html.twig" %}
            </div> 
        </div>            
    </div>            
</div>         
<div class="row-fluid">
    <div class="span12">
        {{ knp_pagination_render(pagination) }}
    </div>            
</div>         
{% render(controller("ClaimsHBundle:Render:dettagli")) %}
{% render(controller("ClaimsHBundle:Render:cambiaPriorita")) %}
{% if app.user.hasRole(['C_GESTORE_H', 'C_RECUPERI_H']) %}
    {% render(controller("ClaimsHBundle:Render:cambiaStato")) %}
{% endif %}
{% if 'note' in tds %}
    {% render(controller("ClaimsHBundle:Render:cambiaNote")) %}
{% endif %}
{% if 'datiRecupero' in tds %}
    {% render(controller("ClaimsHBundle:Render:cambiaDatiRecupero")) %}
{% endif %}
{% if 'audit' in tds %}
    {% render(controller("ClaimsHBundle:Render:cambiaAudit")) %}
{% endif %}
{% if 'azioni' in tds %}
    {% render(controller("ClaimsHBundle:Render:cambiaAzioni")) %}
{% endif %}
{% if app.user.hasRole('C_ADMIN') %}
    {% render(controller("ClaimsHBundle:Render:cambiaDasc")) %}
    {% render(controller("ClaimsHBundle:Render:cambiaGestore")) %}
    {% if 'monthly' in tds %}
        {% render(controller("ClaimsHBundle:Render:consegnaMonthly")) %}
    {% endif %}
    {% if 'audit' in tds %}
        {% render(controller("ClaimsHBundle:Render:consegnaAudit")) %}
    {% endif %}
{% endif %}
{% endblock %}
