{% set value = pratica.value(question.question) %}
<div>
    <h4><abbr title="{{ question.question.example }}">{{ question.question.question }}</abbr></h4>
    <input id="risposta_{{ question.question.id }}" type="text" value="{% if value %}{{ value.response }}{% endif %}" class="percentual" min="0" max="100" name="risposta[{{ question.question.id }}]" />
</div>