{% set value = pratica.value(question.question) %}
<div>
    <h4><abbr title="{{ question.question.esempioLocale(app.user.locale) }}">{{ question.question.domandaLocale(app.user.locale) }}</abbr></h4>
    <textarea id="risposta_{{ question.question.id }}" class="expand autogrow check-save" name="risposta[{{ question.question.id }}]">{% if value %}{{ value.response }}{% endif %}</textarea>
</div>