{% extends '::email.html.twig' %}
{% set titolo = 'Agenda giornaliera di '~user.nome %}

{% block content %}
<h1>{{titolo}}</h1>

{% if pratiche|length > 0 %}
    <h2><a href="{{ url('claims_calendario_hospital') }}">Hai {{ pratiche|length }} pratiche in agenda</a></h2>
    <table>
        <thead>
            <tr style="background-color: #000; color: #fff; padding:2px;">
                <th>#</th>
                <th>Tpa</th>
                <th>Priorità</th>
                <th>Claimant</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody id="tb_container">
            {% include 'ClaimsHBundle:email:daily/tbody.html.twig' %}
        </tbody>
    </table>
{% endif %}

{% if countdown|length > 0 %}
    <h2><a href="{{ url('claims_h_countdown') }}">Hai {{ countdown|length }} countdown aperti</a></h2>
    <table class="table">
        <thead>
            <tr style="background-color: #000; color: #fff; padding:2px;">
                <th>#</th>
                <th>Giorni</th>
                <th>Subject</th>
                <th>Mittente</th>
                <th>TPA</th>
                <th>Claimant</th>
            </tr>
        </thead>
        <tbody id="tb_container">
            {% include 'ClaimsHBundle:email:daily/cbody.html.twig' %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
