<tr id="{{ entity.slug }}">
    {% if mode in ['personale', 'chiuso'] %}
        <th class="right">{{ i }}</th>
    {% endif %}
        <td class="center" nowrap>
            {{ entity.codice }}<br/>
            {% if entity.dasc %}
                {{ entity.dasc|date('d-m-Y') }}
            {% else %}
                n.d.
            {% endif %}
        </td>
    <td>{{ entity.claimant }}{% if entity.giudiziale %} (Giud){% endif %}</td>
    {% if mode in ['completo', 'senza_dasc', 'senza_gestore', 'chiusi'] %}
        <td>
        {% if entity.gestore %}
                {{ entity.gestore.sigla }}
        {% else %}
                N.A.
        {% endif %}
    </td>
    {% endif %}
    <td class="center">{{ entity.soi }}</td>
    <td class="right">{% if entity.amountReserved >= 0 %}{{ entity.amountReserved }} €{% else %}N.P.{% endif %}</td>
    <td class="note">
        {% if monthly_report %}
            {{ entity.monthlyReport|raw }}
        {% else %}
            {{ entity.note|raw }}
        {% endif %}
    </td>
    <td class="center">
        {% if entity.statoPratica %}{{ entity.statoPratica.stato }}{% else %}N.D.{% endif %}
    </td>
</tr>
