<tr id="{{ entity.slug }}">
    {% if mode in ['personale', 'chiuso'] %}
        <th class="right">{{ i }}</th>
    {% endif %}
        <td class="center" nowrap>
            {{ entity.codice }}
            {% if not monthly_report %}
                <br/>
                {% if entity.dasc %}
                    {{ entity.dasc|date('d-m-Y') }}
                {% else %}
                    n.d.
                {% endif %}
            {% endif %}
        </td>
    <td>{{ entity.claimant }}{% if entity.giudiziale %} (Giud){% endif %}</td>
    {% if mode in ['completo', 'senza_dasc', 'senza_gestore', 'chiusi'] %}
        <td>
        {% if entity.gestore %}
                {{ entity.gestore.sigla }}
        {% else %}
                N.A.
        {% endif %}
    </td>
    {% endif %}
    <td class="center">{{ entity.soi }}</td>
    <td class="right">{% if entity.amountReserved >= 0 %}{{ entity.amountReserved }} €{% else %}N.P.{% endif %}</td>
    <td class="note">
        {% if monthly_report %}
            {% if entity.note %}
                <b>Note</b><br/>
                {{ entity.note|raw }}
            {% else %}
                {% set mr = entity.monthlyReport %}
                {% if mr %}
                    <b>{{ mr.titolo }}</b>
                    {% if mr.note %}
                        <br/>
                        {{ mr.note|raw }}
                    {% endif %}
                    {% if app.environment == 'dev' %}
                        <br/>
                        <i style="color: #888888">({{ mr.tipo.sigla }} - {{ mr.dataOra|date('d-m-Y') }})</i>
                    {% else %}
                        <i>({{ mr.dataOra|date('d-m-Y') }})</i>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {{ entity.note|raw }}
        {% endif %}
    </td>
    <td class="center">
        {% if entity.statoPratica %}{{ entity.statoPratica.stato }}{% else %}N.D.{% endif %}
    </td>
</tr>
