<tr id="{{ entity.slug }}">
    {% if mode is not defined or mode in ['personale', 'chiuso', 'tutti', 'senza_dasc', 'senza_gestore'] %}
        <th class="right">{{ i }}</th>
    {% endif %}
    <td class="center" nowrap>
        {{ entity.codice }}
        {% if monthly_report is not defined or not monthly_report %}
            <br/>
            {% if entity.dasc %}
                {{ entity.dasc|date('d-m-Y') }}
            {% else %}
                n.d.
            {% endif %}
        {% endif %}
    </td>
    <td>{{ entity.claimant }}{% if entity.giudiziale %} (Giud){% endif %}</td>
    {% if mode is not defined or mode in ['aperti', 'completo', 'chiusi', 'senza_dasc', 'senza_gestore'] or app.user.hasRole('C_RECUPERI_H') %}
    <td>
        {% if entity.gestore %}
            {{ entity.gestore.sigla }}
        {% else %}
            N.A.
        {% endif %}
    </td>
    {% endif %}
    <td class="center">{{ entity.soi }}</td>
    {% if mode is defined and mode in ['recupero', 'recuperati'] %}
        <td class="right" nowrap>{{ entity.offertaNostra|number_format(2, '.', ' ') }} €{% if entity.recuperoOffertaNostra %}<br/><small>{{ entity.recuperoOffertaNostra|number_format(2, '.', ' ') }} {% if entity.recuperoOffertaNostra <= 100 %}%{% else %}€{% endif %}</small>{% endif %}</td>
        <td class="right" nowrap>{{ entity.offertaLoro|number_format(2, '.', ' ') }} €{% if entity.recuperoOffertaLoro %}<br><small>{{ entity.recuperoOffertaLoro|number_format(2, '.', ' ') }} {% if entity.recuperoOffertaLoro <= 100 %}%{% else %}€{% endif %}</small>{% endif %}</td>
    {% else %}
    <td class="right" nowrap>{% if entity.amountReserved >= 0 %}{{ entity.amountReserved|number_format(2, '.', ' ') }} €{% else %}N.P.{% endif %}</td>
        {% if mode is not defined %}
            <td class="right" nowrap>{{ entity.firstReserveIndication|number_format(2, '.', ' ') }} €</td>
        {% endif %}
    {% endif %}
    <td class="note">
        {% if monthly_report is defined and monthly_report %}
            {% if entity.note %}
                <b>Note</b><br/>
                {{ entity.note|raw }}<br/>
                {% if entity.noteDataModifica %}
                    <i>({{ entity.noteDataModifica|date('d-m-Y') }})</i>
                {% endif %}
            {% else %}
                {% set mr = entity.monthlyReport %}
                {% if mr %}
                    <b>{{ mr.titolo }}</b>
                    {% if mr.note %}
                        <br/>
                        {{ mr.note|raw }}<br/>
                    {% endif %}
                    {% if app.environment == 'dev' %}
                        <br/>
                        <i style="color: #888888">({{ mr.tipo.sigla }} - {{ mr.dataOra|date('d-m-Y') }})</i>
                    {% else %}
                        <i>({{ mr.dataOra|date('d-m-Y') }})</i>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if app.user.hasRole(['C_RECUPERI_H']) %}
                {{ entity.datiRecupero|raw }}
            {% else %}
                {{ entity.note|raw }}
            {% endif %}
        {% endif %}
    </td>
    <td class="center">
        {% if entity.statoPratica %}{{ entity.statoPratica.stato }}{% else %}N.D.{% endif %}
    </td>
</tr>
